.sidenav-container {
  width: 100%;
  height: 80%;
  padding: 0 2% 0 2%;
  font-size: large;
}

.notable-header {
  padding-top: 16px;
  font-size: 32px;
  color: lightblue;
}

.sidenav-lefthand {
  width: 20%;
  background-color: whitesmoke;
}

.sidenav-righthand {
  margin-left: 16px;
  background-color: white;
}

.appointments-table th,
tr,
td {
  padding: 16px;
}

.physicians-table th,
tr,
td {
  padding: 16px;
}
